@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;600&family=Ubuntu:wght@300;400;500&display=swap");
@import "variable.css";

body {
  display: flex;
  font-family: "Raleway", sans-serif;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  color: var(--black);
}
.phone-screen {
  min-width: 350px;
  height: 800px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  margin: 50px;
  padding: 30px;
  position: relative;
}
.header {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}
.main-image {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-image img {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 20px;
  object-fit: cover;
}
.main-image__text {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-image__text span:first-child {
  font-size: 30px;
  font-weight: 600;
}
.main-image__text span:last-child {
  font-size: 15px;
  opacity: 0.5;
  margin-top: 5px;
}

.btn {
  display: flex;
  justify-content: center;
  margin: 30px;
}
.btn__left {
  width: 120px;
  height: 40px;
  background-color: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}
.btn__right {
  width: 120px;
  height: 40px;
  background-color: rgb(255, 255, 255);
  color: rgb(31, 31, 31);
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 0 10px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
}

.playlist_column {
  display: flex;
  align-items: center;
  margin: 10px 0;
  padding: 10px 10px;
}
.playlist_column:hover {
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  transform: scale(1.1);
}
.playlist_column img {
  width: 60px;
  height: 60px;
  border-radius: 20px;
  margin-right: 20px;
}
.playlist__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 20px;
}
.playlist__text-song {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 5px;
}
.playlist__text-singer {
  opacity: 0.5;
  font-size: 14px;
}
.playlist__text i {
  opacity: 0.5;
}

.now-playing {
  margin-top: 50px;
  width: 100%;
  height: 60px;
  border-radius: 40px;
  background-color: rgb(31, 31, 31);
  color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.now-playing__text {
  margin-left: 30px;
}
.now-playing__text-song {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 4px;
}
.now-playing__text-singer {
  font-size: 14px;
  opacity: 0.5;
}
.now-playing__icon {
  margin-right: 30px;
}
.now-playing__icon i {
  margin: 0 12px;
}

.main-image-big {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}
.main-image-big img {
  width: 280px;
  height: 280px;
  border-radius: 20px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 50px;
  object-fit: cover;
}

.play-bar {
  margin: 60px 0;
}
.play-bar__time {
  display: flex;
  justify-content: space-between;
  opacity: 0.5;
}
.play-bar__bar {
  display: flex;
  position: relative;
}
.play-bar__bar1 {
  width: 70%;
  height: 8px;
  background-color: var(--black);
  margin-top: 10px;
  border-radius: 30px;
}
.play-bar__bar2 {
  width: 30%;
  height: 8px;
  background-color: var(--black);
  margin-top: 10px;
  border-radius: 30px;
  opacity: 0.2;
}
.play-bar__circle {
  width: 14px;
  height: 14px;
  border-radius: 7px;
  background-color: black;
  position: absolute;
  left: 68%;
  top: 7px;
}
.play-icons {
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  align-items: center;
}

.play-icons__play {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  background-color: var(--black);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 5px rgba(0, 0, 0, 0.2);
}
.fa-repeat,
.fa-shuffle {
  opacity: 0.5;
}
